#ol-panel,
#ol-map {
  height: 100%;
  width: 100%;
}

#ol-panel {
  position: relative;
}

.btn-show-layers {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 1;
}
